PAV2 - UTN FRC
<div>
  <h1>{{ titulo }}</h1>
  <div class="table-responsive">
    <table class="table" *ngIf="articulos && articulos.length">
      <thead>
        <tr>
          <th>Image</th>
          <th>Description</th>
          <th>Code</th>
          <th>Quantity</th>
          <th>Cost</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let articulo of articulos">
          <td></td>
          <td>{{ articulo.descripcion }}</td>
          <td>{{ articulo.codigo }}</td>
          <td>{{ articulo.cantidad }}</td>
          <td>{{ articulo.precio }}</td>
          <td>{{ articulo.puntaje }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
